#header{
    max-width: 100%;
    width: 93vw;
}

ul{
    display: grid;
    grid-template-columns: 1fr repeat(2, 0px);
    justify-items: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#heading{
    font-size: 3em;
    grid-column-start: 1;
}

#login{
    margin-left: auto;
}
